body{
	background-color: rgba(227, 227, 227, 0.7)
	/*background-color: white;*/
}
.navbar
{
	margin:auto auto;
}

.nav-img
{
	display: inline-block;
	padding-top: 20px;
	margin-right: 4%;
	width:40px;
	float:right;
}

nav h1
{
	display: block;
	float:left;
	margin-left: 1%;
	border-bottom: 2px solid black;
	border-radius: 4px;
	/*background-color: rgba(0,0,0,0);*/
}

nav a img
{
	/*background-color: rgba(0,0,0,0);*/
}

.page-header
{
	display: inline-block;
	text-align: center;
	width: 100%;
	/*height: 30em;*/
	margin:0;
}

.header-title
{
	font-size: 5em;
	width: 100%;
}

@keyframes spin-sq
{
	0%{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}



h3.right
{
	padding:0;
	margin:0;
	/*color:rgba(0, 0, 48, 1);*/
}

.spinning-square
{
	display: inline-block;
	width: 5vw;
	height: 8vh;
	background-color: red;
	margin-top: 1%;

	animation-name: spin-sq;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.about-section
{
	/*background-color: #e3e3e3;*/
}

.about-section h1
{
	font-size: 4em;
	color:white;
}

.about-section h2
{
	font-size: 3em;
	font-weight:100;
}

.smaller-image
{
	height: 50vh;
	float:right;
}

.special-background
{
	background-color: rgba(0, 0, 0, 0.04);
	border-right: 2px dashed white;
	border-left: 2px dashed white;
	border-bottom: 2px solid white;
}

.experience-section
{
}

.experience-section .special-background
{
	background-color: rgba(0, 0, 0, 0.1);
}

.experience-section h1
{
	font-size: 4em;
	color:white;
}

.experience-section h2
{
	font-size: 3em;
	font-weight:100;
}

#android-image
{
	float:left;
}


.reach-section
{

}


.reach-section h3
{

	font-size:3em;
	color:rgba(15,185,200,1);

	text-align: center;

	/*margin-right: 10%;*/

}

.projects-section
{
}

.projects-background
{
	border:2px dashed white;
	background-color: rgba(0,0,0,0.1);
	border-bottom: 1px solid white;
}

.projects-background h1
{
	font-size: 3em;
}

.projects-background p
{
	display: inline-block;
	font-size: 2em;
	width: 50%;
}

.projects-background.left-content img
{
	display: inline-block;
	float:right;
	margin-right: 5%;
}

.projects-background.left-content h1 
{
	float:left;
	width: 100%;
}

.projects-background a
{
	color:white;
	text-decoration: none;
}

@keyframes link-animation
{
	0%{
		color:black;
	}
	100%{
		color:rgba(0,0,0,0.4);
		border-bottom:4px solid rgba(255,0,0,1);
	}
}

.projects-background a:hover
{
	color:red;
	animation-name: link-animation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.projects-background.left-content p
{
	width: 60%;
	float:left;
}

.projects-background
{
	font-size: 1.0em;
	font-weight: 200;
	color:white;
}

.projects-background p
{
	color:black;
}

.projects-background a
{
	color:rgba(0, 0, 0, 0.6);
}

.projects-background.right-content h1
{
	float:right;
	display: inline-block;
	width: 100%;
	margin-right: 25%;
	text-align: right;
}

.projects-background.right-content p
{
	float:right;
	width: 60%;
	display: block;
}

.projects-background.right-content img
{
	display: inline-block;
	float:left;
	margin-left: 5%;
}

.em-info
{
	color:black;
	text-decoration: underline;
}


.github-section h1
{

	color:white;
}

.github-section p
{
	float:right;
}

.twitter-timeline-container
{
	display: inline-block;
	width: 90%;
	height: 100px;
}

footer
{
	font-size: 1.5em;
	border-top: 2px solid black;
}

@media only screen and (max-width: 320px) {
    body {
        width: 320px;
    }

    nav h1{
		font-size: 2em;
		/*background-color: rgba(0,0,0,0);*/
	}
	.header-title
	{
		font-size: 4em;
		width: 100%;
	}

	h3.right
	{
		padding:0;
		margin-right:20px;
		/*color:rgba(0, 0, 48, 1);*/
	}

	.special-background h1
	{
		display: inline;
		width: 100%;
		font-size: 3.5em;
	}

	.projects-background h1
	{
		text-align: left;
		margin:0;
		margin-top: 5%;
		padding:0;
		width: 100%;
	}

	.projects-background.left-content p
	{
		float:left;
		text-align: left;
		margin:0;
		margin-top: 5%;
		padding:0;
		width: 100%;
		font-size: 1.5em;
	}

	.projects-background.right-content p
	{
		float:left;
		text-align: left;
		margin-top: 5%;
		font-size: 1.5em;
		margin:0;
		padding:0;
		width: 100%;
	}

	.github-section.github-card
	{

		border:10px solid black;

	}

	.github-section h1
	{
		display: inline-block;
		text-align: center;
		margin:0 autom;
		width: 100%;
		font-size: 2.4em;
	}

	.github-section p
	{
		text-align: left;
		float:left;
		width: 100%;
	}


}