

#playstore-link
{
	width: 20%;
	height: 20%;
}

#twitter-link, #github-link, #linkedin-link, #playstore-link
{
	margin:auto auto;
	text-decoration: none;
	list-style: none;
	border:none;

}

#github-link
{
	
}

#linkedin-link img
{
width: 20%;
height: 20%;
}

#twitter-link img
{
width: 5%;
height: 5%;
}

a,#playstore-logo
{

	width: 100%;
	height: 100%;
	margin:auto auto;

}

*
{
border:10px solid red;	
}